html, body{
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif ;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rosybrown;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1051;
}
.logo{
    margin-top: 5px;
    margin-left: 1%;
}
#log-in-button{
    float: right;
    margin: 15px;
    background-color: white;
    color: black;
    border-color: white;
}
#modal-centering{
    padding: 0 30px;
}
.login-mb-3{
    display: inline-table;
    padding: 10px 0;
}
.label-table-cell{
    display: table-cell;
    padding: 0 30px;
}
.input-table-cell{
    display: table-cell;
    padding: 0 25px;
}
.password-input-styling{
    padding: 0 5px;
}

#view{
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px;
}
ul#list-inline li{
    display: inline;  
}
.nav-link{
    color: black;
    font-weight: bold;
}

.row-flexing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#list-view{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 50px 10px 0px 10px;
    width: 40%;
    background-color: lightgrey;
}
#list-view:hover{
    background-color: rosybrown;
}
#taj-view{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 55px 65px 80px;
    width: 40%;
    background-color: lightgrey;
}
#taj-view:hover{
    background-color: rosybrown;
}
.text-padding{
    padding-left: 20px;
}
.radisson{
    text-decoration: none;
    color: black;
}

.checked{
    color: orange;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 22px;
    background-color: rosybrown;
    position: sticky;
    bottom: 0;
    z-index: 1051;
}

.contact-us-mb-3{
    display: inline-table;
}
.contact-us-label{
    display: table-cell;
}
.contact-us-input{
    display: table-cell;
    padding-left: 10px;
}

#social-media{
    order: 3;
}

#copy{
    order: 2;
    font-size: 10px;
}
