html, body{
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif ;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rosybrown;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}
.logo{
    margin-top: 5px;
    padding-left: 1%;
}
.login{
    float: right;
    margin-right: 2%;
    padding: 25px;
    text-decoration: none;
    color: black;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 0px;
}
#hotel{
    display: flex;
    flex-direction: row;
    background-color: rgb(132,136,139);
    margin-left: auto;
    margin-right: auto;
}
#hotel-styling{
    margin: auto;
}
#radisson-description{
    padding: 40px 70px 30px 30px;  
}
#booking-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rosybrown;
}
#booking-info-margin{
    margin: 2% 2% 0 2%;
}
.heading-style{
    font-family: cursive;
}
#information{
    margin: 1% 2% 1% 2%;
}
#tariff{
    padding-top: 50px;
}
.pay-now{
    text-decoration: none;
    color: black;
}
#pay{
    padding-top: 90px;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    background-color: rosybrown;
    position: sticky;
    bottom: 0;
}
.contactus{
    text-decoration: none;
    color: black;
}
#contact-us{
    order: 1;
    margin-left: 1%;
}
#social-media{
    order: 3;
}
#copy{
    order: 2;
    font-size: 10px;
}